/* Light mode */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
}

/* Dark mode */
body.dark-mode {
  --bg-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
bg-color{
  background-color: indianred
}
.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;